:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 45em) {
  html {
    flex-direction: column;
    font-size: 48%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--dark-grayish-blue);
  background: var(--cream);
}

.product {
  max-width: 75rem;
  height: 57rem;
  display: flex;
  border-radius: 2rem;
  margin: 13rem auto;
  overflow: hidden;
}
@media (max-width: 45em) {
  .product {
    flex-direction: column;
    width: 43rem;
    height: 75.5rem;
    margin: 4rem auto;
  }
}
.product__image {
  display: block;
  width: 100%;
  height: 100%;
  flex: 0 1 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 45em) {
  .product__image {
    flex: 0 1 40%;
  }
}
.product .text-container {
  background: var(--white);
  padding: 4rem;
  flex: 0 1 50%;
}
@media (max-width: 45em) {
  .product .text-container {
    padding: 2.8rem;
  }
}
.product__tag {
  text-transform: uppercase;
  letter-spacing: 0.65rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
@media (max-width: 45em) {
  .product__tag {
    margin-bottom: 1.5rem;
  }
}
.product__name {
  font-family: "Fraunces";
  font-size: 4.3rem;
  font-weight: 700;
  width: 26rem;
  line-height: 1;
  color: var(--very-dark-blue);
}
@media (max-width: 45em) {
  .product__name {
    width: 35rem;
    font-size: 4rem;
  }
}
.product__description {
  width: 29rem;
  margin: 3rem 0;
}
@media (max-width: 45em) {
  .product__description {
    width: 36.5rem;
    font-size: 1.75rem;
    margin: 1.5rem 0;
    line-height: 1.65;
  }
}
.product .price-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 45em) {
  .product .price-container {
    margin-bottom: 1.4rem;
  }
}
.product__price--current {
  font-family: "Fraunces";
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--dark-cyan);
}
.product__price--previous {
  text-decoration: line-through;
}
.product__button {
  padding: 1.8rem 3.2rem;
  width: 100%;
  border-radius: 0.8rem;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  background: var(--dark-cyan);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.product__button:hover {
  background: hsl(158, 36%, 30%);
}
.product__button .icon {
  width: 1.8rem;
  height: 1.8rem;
}

.attribution {
  text-align: center;
  background: var(--white);
  padding: 2rem 0;
}
.attribution__link:link, .attribution__link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--dark-cyan);
  font-weight: 600;
}
.attribution__link:link:not(:last-child), .attribution__link:visited:not(:last-child) {
  margin-right: 1rem;
}/*# sourceMappingURL=style.css.map */