:root {
  // Primary colors

  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  // Neutral colors

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

@mixin respond-to-phone {
  @media (max-width: 23.43em) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-to-phone() {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--dark-grayish-blue);
  background: var(--cream);
}

.product {
  width: 72rem;
  max-width: 100%;
  min-height: 50rem;
  display: flex;
  border-radius: 2rem;
  margin: 13rem auto;
  overflow: hidden;

  @include respond-to-phone() {
    display: flex;
    flex-direction: column;
  }

  &__image {
    flex: 0 1 50%;
    height: auto;

    @include respond-to-phone() {
      flex: 0 1 auto;
    }
  }

  .text-container {
    background: var(--white);
    padding: 4rem;
    flex: 0 1 50%;

    @include respond-to-phone() {
      flex: 0 1 25%;
    }
  }

  &__tag {
    text-transform: uppercase;
    letter-spacing: 0.65rem;
    margin-bottom: 2rem;
  }

  &__name {
    font-family: "Fraunces";
    font-size: 4rem;
    font-weight: 700;
    width: 24rem;
    line-height: 1;
    color: var(--very-dark-blue);
  }

  &__description {
    width: 21rem;
    margin: 2rem 0;
  }

  .price-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  &__price--current {
    font-family: "Fraunces";
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--dark-cyan);
  }

  &__price--previous {
    text-decoration: line-through;
  }

  &__button {
    padding: 1.8rem 3.2rem;
    width: 100%;
    border-radius: 0.8rem;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    background: var(--dark-cyan);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: hsl(158, 36%, 30%);
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
