:root {
  // Primary colors

  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  // Neutral colors

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@mixin break-point-720 {
  @media (max-width: 45em) {
    @content;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include break-point-720() {
    flex-direction: column;
    font-size: 40%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--dark-grayish-blue);
  background: var(--cream);
}

.product {
  width: 72rem;
  height: 50rem;
  display: flex;
  border-radius: 2rem;
  margin: 13rem auto;
  overflow: hidden;

  @include break-point-720() {
    flex-direction: column;
    width: 43rem;
    height: 75.5rem;
    margin: 4rem auto;
  }

  &__image {
    flex: 0 1 50%;

    @include break-point-720() {
      flex: 0 1 40%;
    }
  }

  .text-container {
    background: var(--white);
    padding: 4rem;
    flex: 1;

    @include break-point-720() {
      padding: 2.8rem;
    }
  }

  &__tag {
    text-transform: uppercase;
    letter-spacing: 0.65rem;
    margin-bottom: 2rem;

    @include break-point-720() {
      margin-bottom: 1.5rem;
    }
  }

  &__name {
    font-family: "Fraunces";
    font-size: 4rem;
    font-weight: 700;
    width: 24rem;
    line-height: 1;
    color: var(--very-dark-blue);

    @include break-point-720() {
      width: 35rem;
      font-size: 4rem;
    }
  }

  &__description {
    width: 21rem;
    margin: 2rem 0;

    @include break-point-720() {
      width: 36.5rem;
      font-size: 1.75rem;
      margin: 1.5rem 0;
      line-height: 1.65;
    }
  }

  .price-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;

    @include break-point-720() {
      margin-bottom: 1.4rem;
    }
  }

  &__price--current {
    font-family: "Fraunces";
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--dark-cyan);
  }

  &__price--previous {
    text-decoration: line-through;
  }

  &__button {
    padding: 1.8rem 3.2rem;
    width: 100%;
    border-radius: 0.8rem;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    background: var(--dark-cyan);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: hsl(158, 36%, 30%);
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

.attribution {
  text-align: center;
  background: var(--white);
  padding: 2rem 0;

  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--dark-cyan);
    font-weight: 600;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
